body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background-color: #f6f5f3;
}

nav {
  padding: 3vmax 4vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 48px;
  height: 48px;
}

nav .social-buttons {
  display: none;
}

nav .social-buttons .icon-button {
  margin-left: 1.3vw;
  cursor: pointer;
}

nav .social-buttons .icon-button:last-child {
  margin-right: 0px;
}

.header-wrapper {
  padding: 6.6vmax 4vmax;
}

.content-wrapper {
  padding: 4vmax;
}

.content {
  width: 100%;
}

header.header-wrapper h1 {
  margin: 0px;
  font-family: "Playfair Display", serif;
  font-size: calc((5 - 1) * 1.2vh + 1rem);
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 0em;
  color: transparent;
  background: linear-gradient(90deg, #48a9a6 0%, #d4b483 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content > * {
  padding: 16px;
}

.text-content hr {
  margin: 8px 0;
  height: 1px;
  border: none;
  color: transparent;
  background-color: black;
}

.text-content h4 {
  margin: 0;
  line-height: 1.5;
}

.text-content .content {
  display: block;
}

.text-content .content p {
  margin: 0;
  margin-top: 8px;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.5;
}

.text-content .content p:first-child {
  margin-top: -4px;
}

@media screen and (min-width: 768px) {
  nav .logo {
    width: 72px;
    height: 72px;
  }

  nav .social-buttons {
    display: flex;
  }

  .header-wrapper,
  .content-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  header.header-wrapper h1 {
    font-size: calc((5 - 1) * 1.2vw + 1rem);
  }

  .content,
  .text-content {
    width: 75%;
  }

  .text-content {
    flex-direction: row;
  }

  .text-content .leading {
    box-sizing: border-box;
    width: 16%;
  }

  .text-content h4 {
    margin: 0 5%;
  }

  .text-content .content {
    width: 56%;
  }

  .text-content > *:first-child {
    padding-left: 0;
  }
}
