:root {
  --serif-font: "Cormorant Infant", serif;
  --sans-serif-font: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

body {
  font-family: var(--sans-serif-font);
  margin: 0;
  background-color: #f6f5f3;
}

nav {
  padding: 3vmax 4vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 48px;
  height: 48px;
  image-rendering: auto;
}

nav .social-buttons {
  display: none;
}

nav .social-buttons .icon-button {
  margin-left: 1.3vw;
  cursor: pointer;
}

nav .social-buttons .icon-button:last-child {
  margin-right: 0px;
}

.header-wrapper {
  padding: 6.6vmax 4vmax;
}

.content-wrapper {
  padding: 4vmax;
}

.content {
  width: 100%;
}

header.header-wrapper h1 {
  margin: 0px;
  font-family: var(--serif-font);
  font-size: calc((5 - 1) * 1.2vh + 1rem);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0em;
  color: transparent;
  background: linear-gradient(90deg, #48a9a6 0%, #d4b483 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.text-content > * {
  padding: 16px 0px;
}

.text-content hr {
  margin: 8px 0;
  height: 1px;
  border: none;
  color: transparent;
  background-color: black;
}

.text-content h5 {
  margin: 0;
  line-height: 1.5;
}

.text-content .content {
  display: block;
}

.text-content .content p {
  margin: 16px 0 0 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.text-content .content p:first-child {
  margin-top: -4px;
}

.text-content .content .content-trailing {
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}

.works-list {
  flex-direction: column;
}

.work {
  isolation: isolate;
}

.work h2 {
  font-weight: 100;
  margin: 0;
}

.work h1 {
  margin: 0;
  font-family: var(--serif-font);
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 3;
}

.work img {
  position: absolute;
  right: 12%;
  height: 30%;
  max-width: 40%;
  object-fit: contain;
  z-index: -1;
  opacity: 0;
  translate: 0% -25%;
  transform: scaleY(0);
  transition: 120ms ease-in-out;
}

.work h1:hover {
  font-style: italic;
}

.work h1:hover + img {
  opacity: 1;
  transform: scaleY(1);
}

footer.content-wrapper {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
  font-family: var(--serif-font);
  font-weight: 300;
}

@media screen and (min-width: 900px) {
  nav .logo {
    width: 72px;
    height: 72px;
  }

  nav .social-buttons {
    display: flex;
  }

  .header-wrapper,
  .content-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  header.header-wrapper h1 {
    font-size: calc((5 - 1) * 1.2vw + 1rem);
  }

  .content,
  .text-content,
  .works-list {
    width: 75%;
  }

  .text-content {
    flex-direction: row;
  }

  .text-content :first-child {
    padding-left: 0;
  }

  .text-content .leading {
    box-sizing: border-box;
    width: 16%;
  }

  .text-content h5 {
    text-align: center;
    width: 16%;
  }

  .text-content .content {
    width: 56%;
  }

  .text-content > p:first-child {
    padding-left: 0;
  }

  .works-list > * {
    margin-bottom: 16px;
  }

  .works-list > *:last-child {
    margin-bottom: 0px;
  }

  .work h1 {
    width: 75%;
    font-size: 5rem;
  }
}
